<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <modules>
      <module assemblyFile="AddInA.dll" moduleType="AddInA.ModuleA, AddInA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleA" startupLoaded="true" />
      <module assemblyFile="AddInB.dll" moduleType="AddInA.ModuleB, AddInB, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleB" startupLoaded="true" />
    </modules>

  </configuration>